body {
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
	padding-top: 30px;
	padding-bottom: 20px;
}

.select {
	float:right;
}

canvas#maze {
	border : inset;
	margin-top: 10px;
	width: 480px;
	height: 480px;
}

#driver_code {
	width: 100%;
	height: auto;
}

#code_div{
	margin-top: 10px;
}

#maze_controls_div {
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	width: 100%
}

#msg_div {
	text-align: center;
} 