body {
	margin: 0px;
}

h2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F2F4F5;
}

.small_link {
	font-weight: normal;
	font-size: .5em;
	float:right;
}

.heading {
	font-weight: bold;
	font-size: 20;
	float:left;
}

.select {
	float:right;
}

canvas#maze {
	border : inset;
	width: 512px;
	height: 512px;
}

#content_div {
	float: auto;
	width: 100%;
	height: 100%;
}

#maze_div {
	// border:4px solid#dfd;
	padding-left: 20px;
	float:left;
	width: 45%;
	height: 100%;
}

#maze_canvas_div {
	text-align: center;
}

#driver_div {
	// border:4px solid#dfd;
	margin-right: 20px;
	float:right;
	width: 45%;
	height: 100%;
}

#driver_code {
	width: 100%;
	height: 100%;
}

#code_strategy_div {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 60%;
}

#code_demo_div {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40%;
}

#maze_controls_div {
	//float:left;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	background-color: #F2F4F5;
	width: 100%
}

#slider_left {
	float:none;
	width: 70%;
	padding: 20px;
}

#slider_right {
	display: inline;
	float:right;
	text-align: center;
	width: 18%;
	padding: 10px;
}

